<div class="card">
  <div class="card-header">
    <h1>Фільми</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to 'new', new_movie_path, class:"btn btn-outline-warning me-md-2" %>
</div>

  </div>
  <div class="card-body">
     <%= render @movies %>
  </div>
</div>


