/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.navbar {
  background-color: #1a1818 !important;
  height: 10vh;
}

.num {
  background-color: #090202 !important;
  width: 100%;
}
.container-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(image_path("photo.jpg"));
}

.nan {
  color: #e8dede;
}

.lin {
  // color: #81867b;
  width: 65rem;
}

.ror {
  // width: 90rem;
  background-color: #0c0b0b !important;
}

.roro {
  width: 10rem;
}

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #e8dede;

  // background-image: url(image_path("photo.jpg"));
}
